.deliveo-settings-form td {
    vertical-align: top;
}

.deliveo-settings-form .validation-messages {
    border: 1px solid red;
    font-weight: bold;
    border-radius: 5px;
    background-color: pink;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
    color: black;
}

.deliveo-settings-form [type="text"] {
    width: 500px;
}

.deliveo-settings-form [type="number"] {
    width: 70px;
}

.deliveo-settings-form .hidden {
    display: none;
}

.deliveo-settings-form .invalid {
    border: 1px solid red;
    background-color: pink;
}

.wp-core-ui .button-primary.deliveo_csv_export_btn {
    margin-right: 10px;
}

.column-group_code {
    width: 30px;
}

.deliveo-save-button {
    height: 25px;
    background-image: url(../images/deliveo-save.png);
    background-color: transparent;
    border: 0;
    background-size: 100%;
    cursor: pointer;
    background-repeat: no-repeat;
}

.deliveo-modal.container {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: none;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000ba;
}

.deliveo-modal.container.show {
    display: block;
}

.deliveo-modal .content {
    padding: 25px;
    background: #FFF;
    margin: 12.5% auto;
    max-width: 450px;
    position: relative;
}

#deliveo-footer {
    text-align: -webkit-right;
}

#deliveo-footer #deliveo-close {
    position: absolute;
    background: gray;
    color: #FFF;
    display: block;
    text-align: center;
    /* padding: 5px 15px; */
    cursor: pointer;
    top: 10px;
    right: 10px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
}

#deliveo-footer #deliveo-label {
    color: #aa7f3b;
    display: inline-block;
    text-align: center;
    padding: 5px 15px;
    cursor: pointer;
}

#deliveo-footer #deliveo-signature {
    color: #48aa3b;
    display: inline-block;
    text-align: center;
    padding: 5px 15px;
    cursor: pointer;
}

.deliveo-modal #package_log .row div {
    display: inline-block;
}

.deliveo-modal #package_log {
    border: 1px solid #c2c2c2;
    background-color: #f6f6f6;
    border-radius: 5px;
    max-height: 260px;
    overflow: auto;
}

.deliveo-modal #package_log :last-child {
    border-bottom: none !important;
    margin-bottom: 0 !important;
}

.deliveo-modal #package_log .row {
    margin: 5px 0;
    display: block;
}

.deliveo-modal #package_log .row .timestamp {
    font-weight: bold;
    width: 30%;
}

.deliveo-modal #package_log h4 {
    margin: 0;
    background-color: #007bff;
    color: #FFF;
    border-radius: 5px 5px 0 0;
    padding: 5px;
    font-size: 1.1em;
}

.deliveo-modal #package_info .content {
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.deliveo-modal #package_info .group_info .label {
    font-weight: bold;
}

.deliveo-modal #package_log .row {
    padding: 5px;
    border-bottom: 1px solid #d6d6d6;
}

.deliveo-modal #package_info .group_info {
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #d6d6d6;
    background: #f6f6f6;
    background-position: calc(100% - 10px) 10px;
    background-repeat: no-repeat;
}

.deliveo-modal h4 {
    margin: 0;
    margin-bottom: 10px;
}